#------------------------------------------------------------------------------
#                                    Work
#------------------------------------------------------------------------------

# fedora VM from OSX
Host fedora
    HostName 172.16.50.80
    User fedora

# fedoraNested VM from fedroa VM
Host fedoraNested
    HostName localhost
    User fedoraNested
    Port 10022

# fedoraNested VM from OSX
Host fedoraNestedProxy
    HostName localhost
    User fedoraNested
    Port 10022
    ProxyJump fedora

# ubuntu VM from OSX
Host ubuntu
    HostName 172.16.50.81
    User ubuntu

#------------------------------------------------------------------------------
#                                   Studies
#------------------------------------------------------------------------------

# ParallelProgramming course
Host out0
    HostName out0.cslcs.technion.ac.il
    User cdp04

Host cdp-old
    HostName ds-bl200.cs.technion.ac.il
    User cdp04
    ProxyJump out0




Host csl2
    HostName csl2b.cs.technion.ac.il
    User yonibettan

Host cdp-master
    HostName cdpslurm-master.cs.technion.ac.il
    User yonibettan
    ProxyJump csl2 



# ProjectA
Host csl2
    HostName csl2b.cs.technion.ac.il
    User yonibettan

Host airsim
    HostName 132.68.58.229
    User yoni
    ProxyJump csl2
    ForwardX11 yes


