#------------------------------------------------------------------------------
#                                    Work
#------------------------------------------------------------------------------

# main VM
Host fedora
    HostName localhost
    User fedora
    Port 10022

# extra VM for testing
Host fedora_test
    HostName localhost
    User fedora_test
    Port 10021

#------------------------------------------------------------------------------
#                                   Studies
#------------------------------------------------------------------------------

# ParallelProgramming course
Host out0
    HostName out0.cslcs.technion.ac.il
    User cdp04

Host cdp
    HostName ds-bl200.cs.technion.ac.il
    User cdp04
    ProxyJump out0

