#------------------------------------------------------------------------------
#                                    Work
#------------------------------------------------------------------------------

# fedora VM from OSX
Host fedora
    HostName 192.168.99.117
    User fedora

# ubuntu VM from OSX
Host ubuntu
    HostName 192.168.99.109
    User ubuntu

# our k8s cluster for runnig Observatorium
Host observatorium-cluster
    HostName bkr-hv01.dsal.lab.eng.bos.redhat.com
    User test

# our k8s cluster for runnig Prometheus
Host prometheus-cluster
    HostName crashdown.tlv.redhat.com
    User admin

# our k8s cluster for runnig Telemeter (openshift cluster)
Host telemeter-cluster
    HostName seal10.qa.lab.tlv.redhat.com
    User admin


#------------------------------------------------------------------------------
#                                   Studies
#------------------------------------------------------------------------------

# main technion server
Host csl3
    HostName csl3.cs.technion.ac.il
    User yonibettan

# ParallelProgramming course
Host out0
    HostName out0.cslcs.technion.ac.il
    User cdp04

Host cdp-old
    HostName ds-bl200.cs.technion.ac.il
    User cdp04
    ProxyJump out0


Host cdp-master
    HostName cdpslurm-master.cs.technion.ac.il
    User yonibettan
    ProxyJump csl3



# ProjectA

Host airsim
    HostName 132.68.58.229
    User yoni
    ProxyJump csl3
    ForwardX11 yes



# Accelerators

Host accelerators
    HostName gpu3.ef.technion.ac.il
    User u_302279138
    ProxyJump csl3
    ForwardX11 yes


